
<div class="mat-app-background">
  <app-status-bar [socketStatus]=this.socket.status></app-status-bar>

  <app-nav-bar (showPage)="showPage($event)"></app-nav-bar>
  
  <div *ngIf="page === 0">
    <app-dashboard></app-dashboard>
  </div>

  
  <div *ngIf="page === 1">
    <app-stock-list (stockCreated)="onStockAdded($event)"></app-stock-list>
    <app-stock *ngFor="let stock of stockList" [stock]="stock">
    </app-stock>
  </div>

  
  
  <div *ngIf="page === 2">
  <div>
    <h2>Crypto</h2>
  </div>
  </div>


</div>